@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
body {color:#333;}
a    {color:#333; text-decoration:none;}
img  {display:block; max-width:100%;}

main {display:flex;}

#left {flex-basis:200px;}
/*로고*/
#left img[alt="logo"] {width:100%; height:90px;}
/*메뉴*/
#left ul {margin:30px 10px; }
#left li {border:2px solid #9aa224; position:relative;}
#left ul a {display:block;font-weight:600;}
a.mainMenu {padding:10px; text-align:center; background:#eaf183; }
a.mainMenu:hover, a.mainMenu.act {background:#9aa224; color:white; font-size:1.1rem; padding:9px;}
nav.subArea {display:none; position:absolute; width:100%; left:150px; top:0; background:rgba(248,249,229,0.9); box-shadow:0 0 5px rgba(0,0,0, 0.5); z-index:1;}
nav.subArea a {padding:8px; text-align:center;}
nav.subArea a:hover, nav.subArea a.act {background:#e6ff81; color:#585e00;}


#center {flex-basis:400px; margin:0 20px;}
#center>h2 {display:none;}

#banner {display:flex; align-items:center; padding:10px;}
#banner img[alt="배너"] 	{width:80px;}
#banner div {flex:1; padding:0 20px 0 20px;}
#banner h3 	{margin-top:-5px;}
#banner p 	{display:flex; align-items:center; padding-top:3px;}
#banner p a 		{transition:0.5s;}
#banner p a:hover	{transform:translateX(10px);}
#banner img[alt="화살표"] 	{width:32px; margin-left:15px;}

#notice {margin-top:0px; margin-bottom:0px;}
#notice h3 {border-bottom:37px solid #c79c57; border-left:20px solid transparent;border-right:20px solid transparent; width:130px;}
#notice>h3 span {display:block; transform:translate(10px,30px); color:white; font-size:1.1rem; }
#notice ol {list-style:none; border-top:2px solid #c79c57; line-height:180%; padding-top:10px;}
#notice li a:hover {color:tomato; text-decoration:underline;}
#notice li span {float:right;}

#gallery {margin-top:10px; margin-bottom:30px;}
#gallery h3 {border-bottom:37px solid #c79c57; border-left:20px solid transparent;border-right:20px solid transparent; width:130px;}
#gallery span {display:block; transform:translate(15px,30px); color:white; font-size:1.1rem;}
#gallery>div {border-top:2px solid #c79c57; padding-top:10px; display:flex; justify-content:space-between;}
#gallery img {width:185px; padding:10px; }
#gallery a   {display:block; text-align:center; padding-top:5px; }
#gallery  a:hover {color:green; text-decoration:underline; cursor:pointer;}

#quick h3	{display:none;}
#quick>div 	{display:flex;  border-top:2px dotted #bbb; padding-top:10px;}
#quick>div>div {margin:15px; }
#quick a 		{display:block; text-align:center; padding-top:5px;}
#quick a:hover 	{color:purple; text-decoration:underline;}


#right 	  	{width:calc(100% - 200px - 400px); height:calc(100vh - 120px); overflow:hidden; position:relative; border:2px solid red;}
#right h2 	{display:none;}
#slide    	{position:relative; display:flex;}
#slide img	{width:100%; height:calc(100vh - 120px);}


footer 		{height:120px; background:#ddd; display:flex; }
footer>div 	{border-left:2px dotted #aaa; border-right:2px dotted #aaa;}
footer img	{width:200px; height:100px; }
footer nav 	{padding:12px 20px 6px 20px;border-bottom:2px dotted #aaa; margin-bottom:6px; }
footer nav a{padding:0 10px;}
footer nav a:hover {color:black; text-decoration:underline;}
footer p 	{padding:0 30px;flex:1; text-align:justify; }
footer select {align-self:center; margin:0 30px;}




#popup	{position:fixed; top:100px; left:calc((100% - 600px) / 2); width:600px; background:rgba(255,255,255, 0.9); padding:40px; border-radius:20px; box-shadow:0 0 10px black; text-align:justify; line-height:180%; display:none;}
#popup p {padding:20px 0;}
#popup button {float:right; padding:3px 8px 4px;}